.Home .lander {
    padding: 60px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .lander p {
    color: #999;
}

.Home .snackpacks h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    overflow: hidden;
    line-height: 1.3;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Home .snackpacks p {
    color: #666;
}

.Home .snackpacks .image {
    max-width: 60%;
    height: auto;
}