.Home .lander {
    padding: 10px;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Ebrima", sans-serif;
    font-weight: 600;
    color: #8B0000;
}

.Home .lander p {
    color: #92483D;
}

.Home .snackpacks h4 {
    font-family: "Ebrima", sans-serif;
    color: #1A2855;
    font-weight: bold;
    line-height: 1.3;
}

.Home .snackpacks h1 {
    font-family: "Ebrima", sans-serif;
    color: #8B0000;
    font-weight: 600;
    margin-bottom: 0;
    line-height: .8;
}

.Home .snackpacks h3 {
    margin-top: 50px;
    font-family: "Ebrima", sans-serif;
    color: #1A2855;
    font-weight: bold;
}

.Home .snackpacks p {
    color: #92483D;
    text-decoration: none;
    text-overflow: ellipsis;
}

.Home .snackpacks .list-group {
    margin: 10px;
}

.Home .snackpacks .image {
    margin: 0;
    max-width: 20vw;
    max-height: 20vw;
    height: auto;
    width: auto;
}

.Home .snackpacks .all {
    display: inline-block;
    vertical-align: top;
    align-self: center;
    margin-left: 5em;
}

.Home .snackpacks .all:nth-child(1){
    margin-left: 0em;
}