.Home .lander {
    padding: 10px;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Ebrima", sans-serif;
    font-weight: 600;
    color: #8B0000;
}

.Home .lander p {
    font-family: "Ebrima", sans-serif;
    color: #92483D;
}

.Home .snackpacks h4 {
    font-family: "Ebrima", sans-serif;
    color: #1A2855;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
}

.Home .snackpacks h1 {
    font-family: "Ebrima", sans-serif;
    color: #8B0000;
    font-weight: 600;
    margin-bottom: 0;
    line-height: .8;
}

.Home .snackpacks h3 {
    margin-top: 45px;
    margin-bottom: 10px;
    font-family: "Ebrima", sans-serif;
    color: #1A2855;
    font-weight: bold;
}

.Home .snackpacks p {
    font-family: "Ebrima", sans-serif;
    color: #92483D;
    text-decoration: none;
    text-overflow: ellipsis;
}

.Home .snackpacks .list-group {
    margin: 0px;
}

.Home .snackpacks .image {
    margin: 0;
    max-width: 15vw;
    max-height: 15vw;
    height: auto;
    width: auto;
}

.Home .snackpacks .listed {
    display: inline-block;
    vertical-align: top;
    align-self: center;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.Home .snackpacks .all {
    display: inline-block;
    vertical-align: top;
    align-self: center;
    margin-left: .4em;
    width: 15vw;
}
.Home .snackpacks .all:nth-child(1){
    margin-left: 0em;
}
.Home .snackpacks .all:nth-child(2){
    margin-left: .1em;
    width: 13vw;
}